<div align="center" style="padding: 2rem;">
    <img class="logo-icon" src="{{ url_for('static', filename='images/Logo.png') }}">
    <h1 class="home-h1">Hsiang-Jen Li <text class="home-rn">(RN)</text></h1>
</div>