<div class="myskill theme-color">
  <div class="container">
    <div alifn=' center' class="row align-items-start">
      <!-- Python -->
      <div class="col">
        <h2>Python</h2>
        <img class='myskill-icon'
          src="{{ url_for('static', filename='images/py.png') }}">
      </div>
      <!-- Database -->
      <div class="col">
        <h2>Database</h2>
        <img class="myskill-icon"
          src="{{ url_for('static', filename='images/server.png') }}">
      </div>
      <!-- Website -->
      <div class="col">
        <h2>Website Design</h2>
        <img class="myskill-icon"
          src="{{ url_for('static', filename='images/html.png') }}">
      </div>
    </div>
  </div>
</div>