.kc, .k, .kn, .nb, .p{ 
    color: #48975F; 
}

.s1, .sd {
    color: #BA2121;
}

.c1 {
    color: grey;
}

.o, .ow{
    color: #AA22FF;
}

.fm, .nc {
    color: #1E88E5;
}
.n, .nn, .mi {
    color: white;
}