@import "./bootstrap.css";
@import "./code.css";

:root {
    --main-color-grey: #D9D9D9;
    --main-color-skin: #F0EAE8;
    --main-color-yellow: #D3AFA9;
    --main-color-grey: #D9D9D9;
    --main-color-black: #262626;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
    padding-bottom: 2rem;
}

a {
    text-decoration: none;
    color: var(--main-color-black);
}
pre {
    padding: 1rem;
    background-color: var(--main-color-black);
    font-size: 1rem;
}
.home-h1 {
    margin: 1rem;
    font-weight: bolder;
    font-size: 3vmax;
}

.theme-color {
    background-color: var(--main-color-grey);
}

.myskill {
    padding: 7vmin;
    width: 100%;
}
.logo-icon {
    max-width: 50vmin;
    /* width: 30vmax; */
}

.icon {
    width: 1.5rem;
}
.myskill-icon {
    width: 13vmin;
}

.col {
    text-align: center;
    padding: 1rem;
}

.about-page {
    min-height: 45rem;
    padding: 10vmax;
    padding-top: 7vmax;
}

h4.underline {
    padding-bottom: .3em;
    font-size: 1.5em;
    border-bottom: 1px solid #eee;
}

span.date {
    text-align: right;
    font-size: .75rem;
    display: block;
}