{% extends "default.html" %}

{% block content %}

    <div style='padding-top: 3rem; margin-bottom: -70px;' align="center"><h1>Blog posts</h1></div>
    <div class="container-md about-page">
        {% for page in pages %}

            <a 
              href="../{{ page.path }}.html">
              <h4 class="underline"> {{ page.Title }} <span class="date" align="right">{{ page.Date }}</span></h4></a>
            <br>
        
        {% endfor %}
    </div>

{% endblock %}