<html>

<head>
  <title>RN's Blog</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.png') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block head %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
  {% endblock %}

</head>

<body>
  {% include 'nav.html' %}


  {% block content %}

  {% endblock %}

</body>
{% include 'footer.html' %}

</html>