<footer class="text-center text-lg-start theme-color">

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.1); font-size: small;">
    <p>© 2022 Copyright: Hsiang-Jen Li</p>
    <p class="reference">
      <a href="https://www.flaticon.com/free-icons/python" title="python icons">Python icons created by Freepik -
        Flaticon</a>｜
      <a href="https://www.flaticon.com/free-icons/sql" title="sql icons">Sql icons created by Freepik - Flaticon</a>｜
      <a href="https://www.flaticon.com/free-icons/html" title="html icons">Html icons created by Freepik -
        Flaticon</a>｜
      <a target="_blank" href="https://icons8.com/icon/62856/github">GitHub icon by Icons8</a>｜
      <a target="_blank" href="https://icons8.com/icon/34886/gitlab">Gitlab icon by Icons8</a>｜
    </p>
  </div>

</footer>