<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('homepage')}}">RN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('homepage')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('blogposts')}}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('aboutme')}}">About me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/hsiangjenli"><img class='icon'
                            src="https://img.icons8.com/ios-glyphs/60/000000/github.png" /></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://gitlab.com/hsiangjenli"><img class='icon'
                            src="https://img.icons8.com/color/48/000000/gitlab.png" /></a>
                </li>

            </ul>
        </div>
    </div>
</nav>